################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/AzureInfrastructure_Repo/v16
/.vs
